<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta charset="utf-8">
	</head>
	<body>
        <div class="container" align="left">
            <embed type="image/svg+xml" src="{{graph_data|safe}}" style="max-width:1000px" />
        </div>
	</body>
</html>