body {
    font-size: 14px;
    line-height: 1.5;
    background-color: #f5f5f5;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.container {
    font-size: 14px;
    line-height: 1.5;
    background-color: #f5f5f5;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
}
.menu {
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10px;
    z-index: 99999;
}

.menu li {
    color: #fff;
    list-style: none;
    float: left;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    padding: .4em;
}